#
# Complete endpoint for Advantage API.  
# Typically https://example.com/advantage-api-<domain>-<env>
#
ADVANTAGE_ENDPOINT=
#
# Username and password for Advantage API access
#
ADVANTAGE_USER=
ADVANTAGE_PASSWORD=